<h1><%= @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<br>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %>: <%= review.content %></li>
  <% end %>
</ul>
<br>

<%= link_to "Return to restaurants list", restaurants_path %>
